/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800

> 💎 [Upgrade to Pro](https://www.frontendmentor.io/pro?ref=style-guide) for design file access to see all design details and get hands-on experience using a professional workflow with tools like Figma. */

/* base */
html {
    font-size: 15px;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--off-white);
    margin: 0;
    padding: 0;
}    
/* base-end */

/* HELPER */
.w-100 {
    width: 100%;
}

.bt-none {
    border-bottom: none !important;
}
/* HELPER END  */

/* nav  */
nav,
.container {
    width: 1100px;
    margin: 0 auto;
}

nav {
    margin-top: 80px; /* yukarıdan boşluk bıraktik*/
    display: flex; /*yanyana geldiler*/
    justify-content: space-between; /*aralarını açtık*/
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

nav > ul > li > a:hover {
    text-decoration: underline;
}

/* nav-end */

.container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.container > section {
    flex: 2;
}

.info {
    display: flex;
    gap: 50px;
}
.info h1 {
    font-size: 4rem;
    margin: 20px 0 0;
}

.info > .item {
    flex: 1; /*ikisini de eşit büyüklükte böler*/
}

.item-detail {
    margin-top: 20px;
}

.item-detail > a.btn {
    margin-top: 40px;
    padding: 15px 40px;
    background-color: var(--soft-red);
    display: inline-block;
    color: var(--off-white);
    font-size: 15px;
}

.container > aside {
    background: var(--very-dark-blue);
    flex: 1;
    padding: 20px;
}
.container > aside > h2 {
    color: var(--soft-orange);
    margin-top: 10px;
    font-size: 2rem;
}

aside > .item {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--dark-grayish-blue);
}

aside > .item > h3 {
    color: var(--off-white);
}

aside > .item > p {
    color: var(--grayish-blue);
}
/* ASIDE END */

/* FOOTER  */
    footer.container {
        gap: 0;
    }

    footer.container > .item {
        flex: 1;
        /* background: red; */
        display: flex;
        /* flex-wrap: wrap; */
    }

    footer.container > .item > img {
        width: 100px;        
        max-height: 120px;
    }

    footer.container > .item > div {
        flex: 2;
        padding: 0 20px;
    }

    footer.container > .item h3 {
        margin: 0;
        color: var(--soft-red);
        font-size: 25px;
    }

    footer.container > .item h4 {
        margin: 10px 0 0;
    }

    footer.container > .item p {
        color: var(--very-dark-blue);
    }
/* FOOTER END  */